:root {
  --background: white;
  --color-primary: #FE6613;
  --color-secondary: #1B2653;
  --color-tertiary: #787878;
  --font-primary: 'Roboto', Arial, sans-serif;
  --font-color-primary: white;
}

header {
  background-color: var(--color-secondary);
  width: 100%;
}

.top-nav {
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  padding-left: 4vw;
  padding-right: 4vw;
  overflow: hidden;
}

.top-nav img {
  height: 40px;
}

.top-nav .menu-icon {
  cursor: pointer;
}

.menu-icon img {
  height: 30px;
  margin: 30px;
}

.top-nav .hidden {
  display: none;
}

#a-register {
  border: 2px solid white;
  border-radius: 30px;
  padding: 8px;
}

#a-register:hover {
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
}


/* Estilos para telas de desktop (largura maior que 1024px) */
@media (min-width: 1025px) {
  .menu-desktop {
    margin-left: auto;
    display: flex;
  }

  .menu-desktop a {
    color: var(--font-color-primary);
    font-size: 16px;
    text-decoration: none;
    padding: 8px;
  }

  .menu-desktop a:hover {
    color: var(--color-primary);
  }
  

  .menu-icon {
    display: none;
  }
}

/* Estilos para tablets (largura entre 769px e 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
  .menu-desktop {
    display: none;
  }
  
  .menu-mobile {
    display: flex;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
  }

  #menu-mobile {
    background-color: var(--color-secondary);
    color: var(--font-color-primary);
    border-radius: 8px;
    padding: 10px;
    position: absolute;
    top: 80px;
    right: 0;
  }
  
  #menu-mobile a {
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: var(--color-primary);
  }
}

/* Estilos para dispositivos móveis (largura até 768px) */
@media (max-width: 768px) {
  .menu-desktop {
    display: none;
  }

  .menu-mobile {
    display: flex;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
  }

  #menu-mobile {
    background-color: var(--color-secondary);
    border-radius: 8px;
    color: var(--font-color-primary);
    padding: 10px;
    position: absolute;
    top: 80px;
    right: 0;
  }
  
  #menu-mobile a {
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: var(--color-primary);
  }
}
