:root {
  --background: white;
  --color-primary: #FE6613;
  --color-secondary: #1B2653;
  --color-tertiary: #787878;
  --font-primary: 'Roboto', Arial, sans-serif;
  --font-color-primary: white;
}

.contains-img-2 {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  width: 100%;
}

.contains-img-2 img {
  border-radius: 3px;
  height: 230px;
}

.contains-img-2 #rectangle {
  background-color: #d35009;
  border-radius: 5px;
  color: var(--font-color-primary);
  padding: 10px;
  width: 150px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
}

.contains-img-2 button {
  padding: 5px;
  font-size: 15px;
  color: var(--font-color-primary);
  background-color: var(--color-primary);
  border: none;
  border-radius: 3px;
  transition: 0.5s;
  width: 150px;
}

.contains-img-2 button:hover {
  box-shadow: 0px 0px 5px var(--color-primary);
  transition: 0.5s;
  cursor: pointer;
}